{
  "openapi": "3.0.0",
  "info": {
    "title": "WeePlan API",
    "version": "1.0.0",
    "description": "API documentation for WeePlan Backend"
  },
  "servers": [
    {
      "url": "https://api.weplan.com.pk",
      "description": "Production server"
    },
    {
      "url": "http://localhost:5013",
      "description": "Local server"
    }
  ],
  "paths": {
    "/api/v1/test-ip": {
      "get": {
        "description": "Endpoint to fetch test ip.",
        "parameters": [
          {
            "name": "x-forwarded-for",
            "in": "header",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "x-real-ip",
            "in": "header",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "TestIp"
        ],
        "summary": "Fetch Test Ip"
      }
    },
    "/": {
      "get": {
        "description": "Endpoint to fetch default.",
        "responses": {
          "200": {
            "description": "OK"
          }
        },
        "tags": [
          "Default"
        ],
        "summary": "Fetch Default"
      }
    },
    "/api/v1/auth/register": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Register User or Vendor",
        "description": "Register a new user or vendor account.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Auth created successfully"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "body": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/resendOtp": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Resend OTP",
        "description": "Endpoint to create resendOtp auth.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Auth created successfully"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identifier": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "User Login",
        "description": "Login using email or phone identifier along with password.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Auth created successfully"
          }
        },
        "requestBody": {
          "required": true,
          "description": "User login credentials",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identifier": {
                    "type": "string",
                    "example": "user@example.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "password123"
                  },
                  "fcmToken": {
                    "type": "string",
                    "example": "optional_token"
                  }
                },
                "required": [
                  "identifier",
                  "password"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/admin/login": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Admin Login",
        "description": "Login for admin and superAdmin.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Auth created successfully"
          }
        },
        "requestBody": {
          "required": true,
          "description": "Admin login credentials",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identifier": {
                    "type": "string",
                    "example": "admin@example.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "password123"
                  },
                  "fcmToken": {
                    "type": "string",
                    "example": "optional_token"
                  }
                },
                "required": [
                  "identifier",
                  "password"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/changePassword": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Change Password",
        "description": "Endpoint to create changePassword auth.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Auth created successfully"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "oldPassword": {
                    "type": "string",
                    "example": "old_password_123"
                  },
                  "newPassword": {
                    "type": "string",
                    "example": "new_password_123"
                  }
                },
                "required": [
                  "oldPassword",
                  "newPassword"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/refresh-token": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Refresh Token",
        "description": "Endpoint to create refresh token auth.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Auth created successfully"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refreshToken": {
                    "type": "string",
                    "example": "your_refresh_token_here"
                  }
                },
                "required": [
                  "refreshToken"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/forgotPass": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Forgot Password",
        "description": "Endpoint to create forgotPass auth.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Auth created successfully"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identifier": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/resetPass": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Reset Password",
        "description": "Endpoint to create resetPass auth.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Auth created successfully"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "string",
                    "example": "01700000000"
                  },
                  "otp": {
                    "type": "string",
                    "example": "123456"
                  },
                  "newPassword": {
                    "type": "string",
                    "example": "new_password_123"
                  }
                },
                "required": [
                  "phone",
                  "otp",
                  "newPassword"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/regOtpVerify": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Verify Registration OTP",
        "description": "Endpoint to create regOtpVerify auth.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Auth created successfully"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identifier": {
                    "example": "any"
                  },
                  "otp": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/auth/logout": {
      "post": {
        "tags": [
          "Auth"
        ],
        "summary": "Logout User",
        "description": "Endpoint to create logout auth.",
        "responses": {
          "201": {
            "description": "Auth created successfully"
          }
        }
      }
    },
    "/api/v1/user/": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get all users",
        "description": "Fetch a list of all registered users (Admin / SuperAdmin).",
        "responses": {
          "200": {
            "description": "User retrieved successfully"
          }
        }
      }
    },
    "/api/v1/user/me": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get current user profile",
        "description": "Fetch the logged-in user profile.",
        "responses": {
          "200": {
            "description": "User retrieved successfully"
          }
        }
      }
    },
    "/api/v1/user/update-me": {
      "patch": {
        "tags": [
          "User"
        ],
        "summary": "Update user profile",
        "description": "Update profile information for the authenticated user.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "User updated successfully"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/setup-profile": {
      "patch": {
        "tags": [
          "User"
        ],
        "summary": "Setup user profile",
        "description": "Initial profile setup after registration.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "User updated successfully"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/update-portfolio": {
      "patch": {
        "tags": [
          "User"
        ],
        "summary": "Update vendor portfolio",
        "description": "Upload multiple portfolio images for the vendor.",
        "responses": {
          "200": {
            "description": "User updated successfully"
          }
        }
      }
    },
    "/api/v1/user/become-vendor": {
      "post": {
        "tags": [
          "User"
        ],
        "summary": "Request to become vendor",
        "description": "Submit request to upgrade user role to vendor.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "User created successfully"
          }
        },
        "requestBody": {
          "required": true,
          "description": "Vendor application details",
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "businessName": {
                    "type": "string",
                    "example": "Apex Event Decor"
                  },
                  "description": {
                    "type": "string",
                    "example": "Professional event decoration company"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/manage-availability": {
      "patch": {
        "tags": [
          "User"
        ],
        "summary": "Manage vendor availability",
        "description": "Update calendar availability dates for vendor services.",
        "responses": {
          "200": {
            "description": "User updated successfully"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "availability": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/user/update-availability": {
      "patch": {
        "tags": [
          "User"
        ],
        "summary": "Update vendor availability status",
        "description": "Toggle online / offline availability status for vendor.",
        "responses": {
          "200": {
            "description": "User updated successfully"
          }
        }
      }
    },
    "/api/v1/user/me/visibility-tasks": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get vendor visibility score tasks",
        "description": "Retrieve profile completion and visibility optimization tasks.",
        "responses": {
          "200": {
            "description": "User retrieved successfully"
          }
        }
      }
    },
    "/api/v1/user/public/vendor/{vendorId}": {
      "get": {
        "tags": [
          "User"
        ],
        "summary": "Get public vendor profile",
        "description": "View public profile and portfolio of a specific vendor.",
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "User retrieved successfully"
          }
        }
      }
    },
    "/api/v1/about/create-or-update": {
      "post": {
        "tags": [
          "About"
        ],
        "summary": "Create or update About Us page content",
        "description": "Endpoint to create create or update about.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "About created successfully"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "aboutUs": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/about/retrive": {
      "get": {
        "tags": [
          "About"
        ],
        "summary": "Get About Us page content",
        "description": "Endpoint to fetch retrive about.",
        "responses": {
          "200": {
            "description": "About retrieved successfully"
          }
        }
      }
    },
    "/api/v1/privacy/create-or-update": {
      "post": {
        "tags": [
          "Privacy"
        ],
        "summary": "Create or update Privacy Policy content",
        "description": "Endpoint to create create or update privacy.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Privacy created successfully"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "privacyPolicy": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/privacy/retrive": {
      "get": {
        "tags": [
          "Privacy"
        ],
        "summary": "Get Privacy Policy content",
        "description": "Endpoint to fetch retrive privacy.",
        "responses": {
          "200": {
            "description": "Privacy retrieved successfully"
          }
        }
      }
    },
    "/api/v1/refund-policy/create-or-update": {
      "post": {
        "description": "Endpoint to create create or update refund policy.",
        "responses": {
          "201": {
            "description": "Refund Policy created successfully"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refundPolicy": {
                    "example": "any"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "RefundPolicy"
        ],
        "summary": "Create Create Or Update Refund Policy"
      }
    },
    "/api/v1/refund-policy/retrive": {
      "get": {
        "description": "Endpoint to fetch retrive refund policy.",
        "responses": {
          "200": {
            "description": "Refund Policy retrieved successfully"
          }
        },
        "tags": [
          "RefundPolicy"
        ],
        "summary": "Fetch Retrive Refund Policy"
      }
    },
    "/api/v1/refund-policy/": {
      "get": {
        "description": "Endpoint to fetch refund policy.",
        "responses": {
          "200": {
            "description": "Refund Policy retrieved successfully"
          }
        },
        "tags": [
          "RefundPolicy"
        ],
        "summary": "Fetch Refund Policy"
      }
    },
    "/api/v1/cookie-policy/create-or-update": {
      "post": {
        "description": "Endpoint to create create or update cookie policy.",
        "responses": {
          "201": {
            "description": "Cookie Policy created successfully"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cookiePolicy": {
                    "example": "any"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "CookiePolicy"
        ],
        "summary": "Create Create Or Update Cookie Policy"
      }
    },
    "/api/v1/cookie-policy/retrive": {
      "get": {
        "description": "Endpoint to fetch retrive cookie policy.",
        "responses": {
          "200": {
            "description": "Cookie Policy retrieved successfully"
          }
        },
        "tags": [
          "CookiePolicy"
        ],
        "summary": "Fetch Retrive Cookie Policy"
      }
    },
    "/api/v1/cookie-policy/": {
      "get": {
        "description": "Endpoint to fetch cookie policy.",
        "responses": {
          "200": {
            "description": "Cookie Policy retrieved successfully"
          }
        },
        "tags": [
          "CookiePolicy"
        ],
        "summary": "Fetch Cookie Policy"
      }
    },
    "/api/v1/footer/create-or-update": {
      "post": {
        "description": "Endpoint to create create or update footer.",
        "responses": {
          "201": {
            "description": "Footer created successfully"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "example": "any"
                  },
                  "socialLinks": {
                    "example": "any"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Footer"
        ],
        "summary": "Create Create Or Update Footer"
      }
    },
    "/api/v1/footer/": {
      "patch": {
        "description": "Endpoint to update footer.",
        "responses": {
          "200": {
            "description": "Footer updated successfully"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "description": {
                    "example": "any"
                  },
                  "socialLinks": {
                    "example": "any"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Footer"
        ],
        "summary": "Update Footer"
      },
      "get": {
        "description": "Endpoint to fetch footer.",
        "responses": {
          "200": {
            "description": "Footer retrieved successfully"
          }
        },
        "tags": [
          "Footer"
        ],
        "summary": "Fetch Footer"
      }
    },
    "/api/v1/footer/retrive": {
      "get": {
        "description": "Endpoint to fetch retrive footer.",
        "responses": {
          "200": {
            "description": "Footer retrieved successfully"
          }
        },
        "tags": [
          "Footer"
        ],
        "summary": "Fetch Retrive Footer"
      }
    },
    "/api/v1/terms/create-or-update": {
      "post": {
        "description": "Endpoint to create create or update terms.",
        "responses": {
          "201": {
            "description": "Terms created successfully"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "termsCondition": {
                    "example": "any"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "Terms"
        ],
        "summary": "Create Create Or Update Terms"
      }
    },
    "/api/v1/terms/retrive": {
      "get": {
        "description": "Endpoint to fetch retrive terms.",
        "responses": {
          "200": {
            "description": "Terms retrieved successfully"
          }
        },
        "tags": [
          "Terms"
        ],
        "summary": "Fetch Retrive Terms"
      }
    },
    "/api/v1/faq/create-faq": {
      "post": {
        "tags": [
          "Faq"
        ],
        "summary": "Create FAQ entry (Admin)",
        "description": "Endpoint to create create faq faq.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Faq created successfully"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "example": "any"
                  },
                  "user": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/faq/allFaq": {
      "get": {
        "tags": [
          "Faq"
        ],
        "summary": "Get all FAQs",
        "description": "Endpoint to fetch allFaq faq.",
        "responses": {
          "200": {
            "description": "Faq retrieved successfully"
          }
        }
      }
    },
    "/api/v1/faq/single-faq/{id}": {
      "get": {
        "tags": [
          "Faq"
        ],
        "summary": "Get single FAQ entry",
        "description": "Endpoint to fetch single faq faq by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Faq retrieved successfully"
          }
        }
      }
    },
    "/api/v1/faq/delete-faq/{id}": {
      "delete": {
        "tags": [
          "Faq"
        ],
        "summary": "Delete FAQ entry",
        "description": "Endpoint to delete delete faq faq by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Faq deleted successfully"
          }
        }
      }
    },
    "/api/v1/faq/update-faq/{id}": {
      "patch": {
        "tags": [
          "Faq"
        ],
        "summary": "Update FAQ entry",
        "description": "Endpoint to update update faq faq by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Faq updated successfully"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "image": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/contact/send-message": {
      "post": {
        "tags": [
          "Contact"
        ],
        "summary": "Send contact message",
        "description": "Public contact us message submission.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Contact created successfully"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Jane Smith"
                  },
                  "email": {
                    "type": "string",
                    "example": "jane@example.com"
                  },
                  "subject": {
                    "type": "string",
                    "example": "Inquiry about vendor registration"
                  },
                  "message": {
                    "type": "string",
                    "example": "Hello, I have a question regarding listing my venue service."
                  }
                },
                "required": [
                  "name",
                  "email",
                  "subject",
                  "message"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/contact/admin/messages": {
      "get": {
        "tags": [
          "Contact"
        ],
        "summary": "Get all contact messages (Admin)",
        "description": "Endpoint to fetch admin messages contact.",
        "responses": {
          "200": {
            "description": "Contact retrieved successfully"
          }
        }
      }
    },
    "/api/v1/contact/admin/messages/{id}": {
      "get": {
        "tags": [
          "Contact"
        ],
        "summary": "Get single contact message (Admin)",
        "description": "Endpoint to fetch admin messages contact by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact retrieved successfully"
          }
        }
      },
      "delete": {
        "tags": [
          "Contact"
        ],
        "summary": "Delete contact message (Admin)",
        "description": "Endpoint to delete admin messages contact by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact deleted successfully"
          }
        }
      }
    },
    "/api/v1/contact/admin/messages/{id}/reply": {
      "patch": {
        "tags": [
          "Contact"
        ],
        "summary": "Reply to contact message (Admin)",
        "description": "Endpoint to update admin messages reply contact by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Contact updated successfully"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "replyText": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/notification/": {
      "get": {
        "tags": [
          "Notification"
        ],
        "summary": "Get my notifications",
        "description": "Endpoint to fetch notification.",
        "responses": {
          "200": {
            "description": "Notification retrieved successfully"
          }
        }
      }
    },
    "/api/v1/notification/mark-all-read": {
      "patch": {
        "tags": [
          "Notification"
        ],
        "summary": "Mark all notifications as read",
        "description": "Endpoint to update mark all read notification.",
        "responses": {
          "200": {
            "description": "Notification updated successfully"
          }
        }
      }
    },
    "/api/v1/notification/mark-read/{id}": {
      "patch": {
        "tags": [
          "Notification"
        ],
        "summary": "Mark single notification as read",
        "description": "Endpoint to update mark read notification by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notification updated successfully"
          }
        }
      }
    },
    "/api/v1/notification/admin/broadcast": {
      "post": {
        "tags": [
          "Notification"
        ],
        "summary": "Broadcast notification to all users (Admin)",
        "description": "Endpoint to create admin broadcast notification.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Notification created successfully"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/reviews/my-reviews": {
      "get": {
        "tags": [
          "Reviews"
        ],
        "summary": "Get reviews for vendor services",
        "description": "Endpoint to fetch my reviews reviews.",
        "responses": {
          "200": {
            "description": "Reviews retrieved successfully"
          }
        }
      }
    },
    "/api/v1/reviews/": {
      "post": {
        "tags": [
          "Reviews"
        ],
        "summary": "Create review for vendor service",
        "description": "Endpoint to create reviews.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Reviews created successfully"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "serviceId": {
                    "type": "string",
                    "example": "60d5ecb8b5c9c123456789ab"
                  },
                  "rating": {
                    "type": "number",
                    "example": 5
                  },
                  "comment": {
                    "type": "string",
                    "example": "Exceptional service and beautiful stage decoration!"
                  }
                },
                "required": [
                  "serviceId",
                  "rating",
                  "comment"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/reviews/{serviceId}": {
      "get": {
        "tags": [
          "Reviews"
        ],
        "summary": "Get reviews for a specific service",
        "description": "Endpoint to fetch reviews by ID.",
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reviews retrieved successfully"
          }
        }
      }
    },
    "/api/v1/reviews/{reviewId}": {
      "delete": {
        "tags": [
          "Reviews"
        ],
        "summary": "Delete own review",
        "description": "Endpoint to delete reviews by ID.",
        "parameters": [
          {
            "name": "reviewId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Reviews deleted successfully"
          }
        }
      }
    },
    "/api/v1/admin/login": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Admin Login",
        "description": "Endpoint to authenticate login admin.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Admin created successfully"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identifier": {
                    "type": "string",
                    "example": "admin@example.com"
                  },
                  "password": {
                    "type": "string",
                    "example": "password123"
                  }
                },
                "required": [
                  "identifier",
                  "password"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/forgot-password": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Forgot Password (Admin)",
        "description": "Endpoint to create forgot password admin.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Admin created successfully"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "string",
                    "example": "01700000000"
                  }
                },
                "required": [
                  "phone"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/reset-password": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Reset Password (Admin)",
        "description": "Endpoint to create reset password admin.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Admin created successfully"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "phone": {
                    "type": "string",
                    "example": "01700000000"
                  },
                  "otp": {
                    "type": "string",
                    "example": "123456"
                  },
                  "newPassword": {
                    "type": "string",
                    "example": "new_password_123"
                  }
                },
                "required": [
                  "phone",
                  "otp",
                  "newPassword"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/update-profile": {
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Update Admin Profile",
        "description": "Endpoint to update update profile admin.",
        "responses": {
          "200": {
            "description": "Admin updated successfully"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/change-password": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Change Password (Admin)",
        "description": "Endpoint to create change password admin.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Admin created successfully"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "oldPassword": {
                    "type": "string",
                    "example": "old_password"
                  },
                  "newPassword": {
                    "type": "string",
                    "example": "new_password"
                  }
                },
                "required": [
                  "oldPassword",
                  "newPassword"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/me": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get current Admin details",
        "description": "Endpoint to fetch me admin.",
        "responses": {
          "200": {
            "description": "Admin retrieved successfully"
          }
        }
      }
    },
    "/api/v1/admin/pending-vendors": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get pending vendor applications",
        "description": "Endpoint to fetch pending vendors admin.",
        "responses": {
          "200": {
            "description": "Admin retrieved successfully"
          }
        }
      }
    },
    "/api/v1/admin/approve-vendor/{id}": {
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Approve vendor application",
        "description": "Endpoint to update approve vendor admin by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Admin updated successfully"
          }
        }
      }
    },
    "/api/v1/admin/create-admin": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Create new Admin (SuperAdmin only)",
        "description": "Endpoint to create create admin admin.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Admin created successfully"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "firstName": {
                    "type": "string",
                    "example": "Admin"
                  },
                  "lastName": {
                    "type": "string",
                    "example": "User"
                  },
                  "email": {
                    "type": "string",
                    "example": "newadmin@example.com"
                  },
                  "phone": {
                    "type": "string",
                    "example": "01800000000"
                  },
                  "password": {
                    "type": "string",
                    "example": "password123"
                  }
                },
                "required": [
                  "firstName",
                  "lastName",
                  "email",
                  "phone",
                  "password"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/resendOtp": {
      "post": {
        "tags": [
          "Admin"
        ],
        "summary": "Resend Admin OTP",
        "description": "Endpoint to create resendOtp admin.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Admin created successfully"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "identifier": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/admin/block-unblock/{id}": {
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Block or unblock user",
        "description": "Endpoint to update block unblock admin by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Admin updated successfully"
          }
        }
      }
    },
    "/api/v1/admin/{id}": {
      "delete": {
        "tags": [
          "Admin"
        ],
        "summary": "Delete admin account",
        "description": "Endpoint to delete admin by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Admin deleted successfully"
          }
        }
      }
    },
    "/api/v1/admin/block-unblock-admin/{id}": {
      "patch": {
        "tags": [
          "Admin"
        ],
        "summary": "Block or unblock admin account",
        "description": "Endpoint to update block unblock admin admin by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Admin updated successfully"
          }
        }
      }
    },
    "/api/v1/admin/": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get list of all admins",
        "description": "Endpoint to fetch admin.",
        "responses": {
          "200": {
            "description": "Admin retrieved successfully"
          }
        }
      }
    },
    "/api/v1/admin/dashboard": {
      "get": {
        "tags": [
          "Admin"
        ],
        "summary": "Get admin dashboard statistics",
        "description": "Endpoint to fetch dashboard admin.",
        "responses": {
          "200": {
            "description": "Admin retrieved successfully"
          }
        }
      }
    },
    "/api/v1/category/": {
      "get": {
        "tags": [
          "Category"
        ],
        "summary": "Get all service categories",
        "description": "Endpoint to fetch category.",
        "responses": {
          "200": {
            "description": "Category retrieved successfully"
          }
        }
      },
      "post": {
        "tags": [
          "Category"
        ],
        "summary": "Create new service category",
        "description": "Endpoint to create category.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Category created successfully"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/category/all": {
      "get": {
        "tags": [
          "Category"
        ],
        "summary": "Get all categories list",
        "description": "Endpoint to fetch all category.",
        "responses": {
          "200": {
            "description": "Category retrieved successfully"
          }
        }
      }
    },
    "/api/v1/category/with-subcategories": {
      "get": {
        "tags": [
          "Category"
        ],
        "summary": "Get categories with nested subcategories",
        "description": "Endpoint to fetch with subcategories category.",
        "responses": {
          "200": {
            "description": "Category retrieved successfully"
          }
        }
      }
    },
    "/api/v1/category/{id}": {
      "get": {
        "tags": [
          "Category"
        ],
        "summary": "Get single category details",
        "description": "Endpoint to fetch category by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category retrieved successfully"
          }
        }
      },
      "patch": {
        "tags": [
          "Category"
        ],
        "summary": "Update service category",
        "description": "Endpoint to update category by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category updated successfully"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Category"
        ],
        "summary": "Delete service category",
        "description": "Endpoint to delete category by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Category deleted successfully"
          }
        }
      }
    },
    "/api/v1/subcategory/": {
      "get": {
        "tags": [
          "Subcategory"
        ],
        "summary": "Get all subcategories",
        "description": "Endpoint to fetch subcategory.",
        "responses": {
          "200": {
            "description": "Subcategory retrieved successfully"
          }
        }
      },
      "post": {
        "tags": [
          "Subcategory"
        ],
        "summary": "Create new subcategory",
        "description": "Endpoint to create subcategory.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Subcategory created successfully"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/subcategory/all/query": {
      "get": {
        "tags": [
          "Subcategory"
        ],
        "summary": "Get all subcategories with query filters",
        "description": "Endpoint to fetch all query subcategory.",
        "responses": {
          "200": {
            "description": "Subcategory retrieved successfully"
          }
        }
      }
    },
    "/api/v1/subcategory/all": {
      "get": {
        "tags": [
          "Subcategory"
        ],
        "summary": "Get subcategories list",
        "description": "Endpoint to fetch all subcategory.",
        "responses": {
          "200": {
            "description": "Subcategory retrieved successfully"
          }
        }
      }
    },
    "/api/v1/subcategory/by-category/{categoryId}": {
      "get": {
        "tags": [
          "Subcategory"
        ],
        "summary": "Get subcategories by parent category ID",
        "description": "Endpoint to fetch by category subcategory by ID.",
        "parameters": [
          {
            "name": "categoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subcategory retrieved successfully"
          }
        }
      }
    },
    "/api/v1/subcategory/{id}": {
      "get": {
        "tags": [
          "Subcategory"
        ],
        "summary": "Get single subcategory details",
        "description": "Endpoint to fetch subcategory by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subcategory retrieved successfully"
          }
        }
      },
      "patch": {
        "tags": [
          "Subcategory"
        ],
        "summary": "Update subcategory",
        "description": "Endpoint to update subcategory by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subcategory updated successfully"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Subcategory"
        ],
        "summary": "Delete subcategory",
        "description": "Endpoint to delete subcategory by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Subcategory deleted successfully"
          }
        }
      }
    },
    "/api/v1/amenity/": {
      "get": {
        "tags": [
          "Amenity"
        ],
        "summary": "Get all amenities",
        "description": "Endpoint to fetch amenity.",
        "responses": {
          "200": {
            "description": "Amenity retrieved successfully"
          }
        }
      },
      "post": {
        "tags": [
          "Amenity"
        ],
        "summary": "Create new amenity",
        "description": "Endpoint to create amenity.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Amenity created successfully"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Parking Space"
                  },
                  "categoryId": {
                    "type": "string",
                    "example": "60d5ecb8b5c9c123456789ab"
                  },
                  "subcategoryId": {
                    "type": "string",
                    "example": "60d5ecb8b5c9c123456789ac"
                  }
                },
                "required": [
                  "name",
                  "categoryId",
                  "subcategoryId"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/amenity/{category}/{subcategory}": {
      "get": {
        "tags": [
          "Amenity"
        ],
        "summary": "Get amenities by category and subcategory",
        "description": "Endpoint to fetch amenity by ID.",
        "parameters": [
          {
            "name": "category",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "subcategory",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Amenity retrieved successfully"
          }
        }
      }
    },
    "/api/v1/amenity/{id}": {
      "get": {
        "tags": [
          "Amenity"
        ],
        "summary": "Get single amenity details",
        "description": "Endpoint to fetch amenity by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Amenity retrieved successfully"
          }
        }
      },
      "patch": {
        "tags": [
          "Amenity"
        ],
        "summary": "Update amenity",
        "description": "Endpoint to update amenity by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Amenity updated successfully"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "VIP Parking Space"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Amenity"
        ],
        "summary": "Delete amenity",
        "description": "Endpoint to delete amenity by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Amenity deleted successfully"
          }
        }
      }
    },
    "/api/v1/service-area/": {
      "get": {
        "tags": [
          "ServiceArea"
        ],
        "summary": "Get all service areas",
        "description": "Endpoint to fetch service area.",
        "responses": {
          "200": {
            "description": "Service Area retrieved successfully"
          }
        }
      },
      "post": {
        "tags": [
          "ServiceArea"
        ],
        "summary": "Create service area",
        "description": "Endpoint to create service area.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Service Area created successfully"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Manhattan, NY"
                  },
                  "city": {
                    "type": "string",
                    "example": "New York"
                  },
                  "state": {
                    "type": "string",
                    "example": "NY"
                  },
                  "zipCode": {
                    "type": "string",
                    "example": "10001"
                  }
                },
                "required": [
                  "name",
                  "city",
                  "state",
                  "zipCode"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/service-area/all/query": {
      "get": {
        "tags": [
          "ServiceArea"
        ],
        "summary": "Get all service areas with query filters",
        "description": "Endpoint to fetch all query service area.",
        "responses": {
          "200": {
            "description": "Service Area retrieved successfully"
          }
        }
      }
    },
    "/api/v1/service-area/all": {
      "get": {
        "tags": [
          "ServiceArea"
        ],
        "summary": "Get service areas list",
        "description": "Endpoint to fetch all service area.",
        "responses": {
          "200": {
            "description": "Service Area retrieved successfully"
          }
        }
      }
    },
    "/api/v1/service-area/{id}": {
      "get": {
        "tags": [
          "ServiceArea"
        ],
        "summary": "Get single service area details",
        "description": "Endpoint to fetch service area by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Service Area retrieved successfully"
          }
        }
      },
      "patch": {
        "tags": [
          "ServiceArea"
        ],
        "summary": "Update service area",
        "description": "Endpoint to update service area by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Service Area updated successfully"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "example": "Updated Area Name"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "ServiceArea"
        ],
        "summary": "Delete service area",
        "description": "Endpoint to delete service area by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Service Area deleted successfully"
          }
        }
      }
    },
    "/api/v1/vendor-service/public": {
      "get": {
        "tags": [
          "VendorService"
        ],
        "summary": "Get public vendor services list",
        "description": "Endpoint to fetch public vendor service.",
        "responses": {
          "200": {
            "description": "Vendor Service retrieved successfully"
          }
        }
      }
    },
    "/api/v1/vendor-service/public/all": {
      "get": {
        "tags": [
          "VendorService"
        ],
        "summary": "Get all published services",
        "description": "Endpoint to fetch public all vendor service.",
        "responses": {
          "200": {
            "description": "Vendor Service retrieved successfully"
          }
        }
      }
    },
    "/api/v1/vendor-service/public/recent-vendors": {
      "get": {
        "tags": [
          "VendorService"
        ],
        "summary": "Get recently registered vendors",
        "description": "Endpoint to fetch public recent vendors vendor service.",
        "responses": {
          "200": {
            "description": "Vendor Service retrieved successfully"
          }
        }
      }
    },
    "/api/v1/vendor-service/public/featured-vendors": {
      "get": {
        "tags": [
          "VendorService"
        ],
        "summary": "Get featured vendor services",
        "description": "Endpoint to fetch public featured vendors vendor service.",
        "responses": {
          "200": {
            "description": "Vendor Service retrieved successfully"
          }
        }
      }
    },
    "/api/v1/vendor-service/public/{id}/similar": {
      "get": {
        "tags": [
          "VendorService"
        ],
        "summary": "Get similar vendor services",
        "description": "Endpoint to fetch public similar vendor service by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vendor Service retrieved successfully"
          }
        }
      }
    },
    "/api/v1/vendor-service/public/venues/karachi": {
      "get": {
        "tags": [
          "VendorService"
        ],
        "summary": "Get venues in Karachi",
        "description": "Endpoint to fetch public venues karachi vendor service.",
        "responses": {
          "200": {
            "description": "Vendor Service retrieved successfully"
          }
        }
      }
    },
    "/api/v1/vendor-service/public/{id}": {
      "get": {
        "tags": [
          "VendorService"
        ],
        "summary": "Get single vendor service details",
        "description": "Endpoint to fetch public vendor service by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vendor Service retrieved successfully"
          }
        }
      }
    },
    "/api/v1/vendor-service/public/vendor/{vendorId}": {
      "get": {
        "tags": [
          "VendorService"
        ],
        "summary": "Get active services by vendor ID",
        "description": "Endpoint to fetch public vendor vendor service by ID.",
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vendor Service retrieved successfully"
          }
        }
      }
    },
    "/api/v1/vendor-service/my-services": {
      "get": {
        "tags": [
          "VendorService"
        ],
        "summary": "Get vendor published services",
        "description": "Endpoint to fetch my services vendor service.",
        "responses": {
          "200": {
            "description": "Vendor Service retrieved successfully"
          }
        }
      }
    },
    "/api/v1/vendor-service/my-services/list": {
      "get": {
        "tags": [
          "VendorService"
        ],
        "summary": "Get vendor services list",
        "description": "Endpoint to fetch my services list vendor service.",
        "responses": {
          "200": {
            "description": "Vendor Service retrieved successfully"
          }
        }
      }
    },
    "/api/v1/vendor-service/": {
      "post": {
        "tags": [
          "VendorService"
        ],
        "summary": "Create vendor service",
        "description": "Create a new service offering for the vendor.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Vendor Service created successfully"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "example": "Royal Wedding Decoration"
                  },
                  "categoryId": {
                    "type": "string",
                    "example": "60d5ecb8b5c9c123456789ab"
                  },
                  "subcategoryId": {
                    "type": "string",
                    "example": "60d5ecb8b5c9c123456789ac"
                  },
                  "description": {
                    "type": "string",
                    "example": "Luxury wedding stage setup with floral arch"
                  },
                  "startingPrice": {
                    "type": "number",
                    "example": 1500
                  },
                  "serviceAreaId": {
                    "type": "string",
                    "example": "60d5ecb8b5c9c123456789ad"
                  }
                },
                "required": [
                  "title",
                  "categoryId",
                  "subcategoryId",
                  "description",
                  "startingPrice"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/vendor-service/{id}": {
      "patch": {
        "tags": [
          "VendorService"
        ],
        "summary": "Update vendor service",
        "description": "Endpoint to update vendor service by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vendor Service updated successfully"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "example": "Updated Service Title"
                  },
                  "startingPrice": {
                    "type": "number",
                    "example": 1800
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "VendorService"
        ],
        "summary": "Delete vendor service",
        "description": "Endpoint to delete vendor service by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vendor Service deleted successfully"
          }
        }
      }
    },
    "/api/v1/vendor-service/my-drafts": {
      "get": {
        "tags": [
          "VendorService"
        ],
        "summary": "Get vendor draft services",
        "description": "Endpoint to fetch my drafts vendor service.",
        "responses": {
          "200": {
            "description": "Vendor Service retrieved successfully"
          }
        }
      }
    },
    "/api/v1/vendor-service/draft": {
      "post": {
        "tags": [
          "VendorService"
        ],
        "summary": "Save service draft",
        "description": "Endpoint to create draft vendor service.",
        "responses": {
          "201": {
            "description": "Vendor Service created successfully"
          }
        }
      }
    },
    "/api/v1/vendor-service/draft/{id}/publish": {
      "patch": {
        "tags": [
          "VendorService"
        ],
        "summary": "Publish service draft",
        "description": "Endpoint to update draft publish vendor service by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vendor Service updated successfully"
          }
        }
      }
    },
    "/api/v1/vendor-service/draft/{id}": {
      "delete": {
        "tags": [
          "VendorService"
        ],
        "summary": "Delete draft service",
        "description": "Endpoint to delete draft vendor service by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vendor Service deleted successfully"
          }
        }
      }
    },
    "/api/v1/vendor-service/{id}/remove-images": {
      "patch": {
        "tags": [
          "VendorService"
        ],
        "summary": "Delete images from vendor service",
        "description": "Endpoint to update remove images vendor service by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vendor Service updated successfully"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "imageUrls": {
                    "type": "array",
                    "example": [
                      "https://res.cloudinary.com/image1.jpg"
                    ],
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "imageUrls"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/vendor-service/fav/{serviceId}": {
      "post": {
        "tags": [
          "VendorService"
        ],
        "summary": "Toggle favourite vendor service",
        "description": "Endpoint to create fav vendor service by ID.",
        "parameters": [
          {
            "name": "serviceId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Vendor Service created successfully"
          }
        }
      }
    },
    "/api/v1/vendor-service/my-favs": {
      "get": {
        "tags": [
          "VendorService"
        ],
        "summary": "Get my favourite services",
        "description": "Endpoint to fetch my favs vendor service.",
        "responses": {
          "200": {
            "description": "Vendor Service retrieved successfully"
          }
        }
      }
    },
    "/api/v1/vendor-service/track-contact": {
      "post": {
        "tags": [
          "VendorService"
        ],
        "summary": "Track vendor contact click (call/whatsapp)",
        "description": "Endpoint to create track contact vendor service.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Vendor Service created successfully"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "vendorId": {
                    "type": "string",
                    "example": "60d5ecb8b5c9c123456789ab"
                  },
                  "serviceId": {
                    "type": "string",
                    "example": "60d5ecb8b5c9c123456789ac"
                  },
                  "contactType": {
                    "type": "string",
                    "example": "whatsapp"
                  }
                },
                "required": [
                  "vendorId",
                  "serviceId",
                  "contactType"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/vendor-service/lead-stats": {
      "get": {
        "tags": [
          "VendorService"
        ],
        "summary": "Get lead contact statistics for vendor",
        "description": "Endpoint to fetch lead stats vendor service.",
        "responses": {
          "200": {
            "description": "Vendor Service retrieved successfully"
          }
        }
      }
    },
    "/api/v1/vendor-service/track-view": {
      "post": {
        "tags": [
          "VendorService"
        ],
        "summary": "Track vendor service view",
        "description": "Endpoint to create track view vendor service.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Vendor Service created successfully"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "serviceId": {
                    "type": "string",
                    "example": "60d5ecb8b5c9c123456789ac"
                  }
                },
                "required": [
                  "serviceId"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/vendor-service/view-stats": {
      "get": {
        "tags": [
          "VendorService"
        ],
        "summary": "Get view analytics for vendor",
        "description": "Endpoint to fetch view stats vendor service.",
        "responses": {
          "200": {
            "description": "Vendor Service retrieved successfully"
          }
        }
      }
    },
    "/api/v1/vendor-service/admin/all": {
      "get": {
        "tags": [
          "VendorService"
        ],
        "summary": "Get all vendor services (Admin)",
        "description": "Endpoint to fetch admin all vendor service.",
        "responses": {
          "200": {
            "description": "Vendor Service retrieved successfully"
          }
        }
      }
    },
    "/api/v1/vendor-service/admin/{id}/status": {
      "patch": {
        "tags": [
          "VendorService"
        ],
        "summary": "Toggle vendor service active/inactive status (Admin)",
        "description": "Endpoint to update admin status vendor service by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vendor Service updated successfully"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "example": "active"
                  }
                },
                "required": [
                  "status"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/event-type/": {
      "get": {
        "tags": [
          "EventType"
        ],
        "summary": "Get all event types",
        "description": "Endpoint to fetch event type.",
        "responses": {
          "200": {
            "description": "Event Type retrieved successfully"
          }
        }
      },
      "post": {
        "tags": [
          "EventType"
        ],
        "summary": "Create new event type",
        "description": "Endpoint to create event type.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Event Type created successfully"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/event-type/all": {
      "get": {
        "tags": [
          "EventType"
        ],
        "summary": "Get event types list",
        "description": "Endpoint to fetch all event type.",
        "responses": {
          "200": {
            "description": "Event Type retrieved successfully"
          }
        }
      }
    },
    "/api/v1/event-type/{id}": {
      "get": {
        "tags": [
          "EventType"
        ],
        "summary": "Get single event type",
        "description": "Endpoint to fetch event type by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event Type retrieved successfully"
          }
        }
      },
      "patch": {
        "tags": [
          "EventType"
        ],
        "summary": "Update event type",
        "description": "Endpoint to update event type by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event Type updated successfully"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "EventType"
        ],
        "summary": "Delete event type",
        "description": "Endpoint to delete event type by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event Type deleted successfully"
          }
        }
      }
    },
    "/api/v1/service-package/public/{vendorId}": {
      "get": {
        "tags": [
          "ServicePackage"
        ],
        "summary": "Get public packages by vendor ID",
        "description": "Fetch all active service packages belonging to a specific vendor.",
        "parameters": [
          {
            "name": "vendorId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Vendor packages fetched successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "statusCode": {
                      "type": "number",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Vendor packages fetched successfully"
                    },
                    "data": {
                      "type": "array",
                      "example": [],
                      "items": {}
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              },
              "application/xml": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "statusCode": {
                      "type": "number",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Vendor packages fetched successfully"
                    },
                    "data": {
                      "type": "array",
                      "example": [],
                      "items": {}
                    }
                  },
                  "xml": {
                    "name": "main"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/service-package/my-packages": {
      "get": {
        "tags": [
          "ServicePackage"
        ],
        "summary": "Get logged-in vendor packages",
        "description": "Fetch all packages and package stats belonging to the authenticated vendor.",
        "responses": {
          "200": {
            "description": "Vendor packages and stats fetched successfully"
          }
        }
      }
    },
    "/api/v1/service-package/": {
      "post": {
        "tags": [
          "ServicePackage"
        ],
        "summary": "Create new service package",
        "description": "Create a new service package for the authenticated vendor.",
        "responses": {
          "201": {
            "description": "Service package created successfully"
          }
        }
      }
    },
    "/api/v1/service-package/{id}": {
      "patch": {
        "tags": [
          "ServicePackage"
        ],
        "summary": "Update existing service package",
        "description": "Update details of a service package by package ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Service package updated successfully"
          }
        }
      },
      "delete": {
        "tags": [
          "ServicePackage"
        ],
        "summary": "Delete service package",
        "description": "Delete a service package by package ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Service package deleted successfully"
          }
        }
      }
    },
    "/api/v1/event-request/": {
      "post": {
        "tags": [
          "EventRequest"
        ],
        "summary": "Create new event request",
        "description": "Submit an event requirement post for vendors to submit quotes.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Event Request created successfully"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "example": "any"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/event-request/my-requests": {
      "get": {
        "tags": [
          "EventRequest"
        ],
        "summary": "Get my event requests",
        "description": "Endpoint to fetch my requests event request.",
        "responses": {
          "200": {
            "description": "Event Request retrieved successfully"
          }
        }
      }
    },
    "/api/v1/event-request/my-requests/{id}": {
      "get": {
        "tags": [
          "EventRequest"
        ],
        "summary": "Get single event request details",
        "description": "Endpoint to fetch my requests event request by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event Request retrieved successfully"
          }
        }
      }
    },
    "/api/v1/event-request/my-requests/{id}/status": {
      "patch": {
        "tags": [
          "EventRequest"
        ],
        "summary": "Update event request status",
        "description": "Endpoint to update my requests status event request by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event Request updated successfully"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "example": "closed"
                  }
                },
                "required": [
                  "status"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/event-request/my-requests/{id}/cancel": {
      "patch": {
        "tags": [
          "EventRequest"
        ],
        "summary": "Cancel event request",
        "description": "Endpoint to update my requests cancel event request by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event Request updated successfully"
          }
        }
      }
    },
    "/api/v1/event-request/all": {
      "get": {
        "tags": [
          "EventRequest"
        ],
        "summary": "Get active event requests (Vendor marketplace)",
        "description": "Endpoint to fetch all event request.",
        "responses": {
          "200": {
            "description": "Event Request retrieved successfully"
          }
        }
      }
    },
    "/api/v1/event-request/vendor/{id}": {
      "get": {
        "tags": [
          "EventRequest"
        ],
        "summary": "Get event request details for vendor",
        "description": "Endpoint to fetch vendor event request by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event Request retrieved successfully"
          }
        }
      }
    },
    "/api/v1/event-quote/": {
      "post": {
        "tags": [
          "EventQuote"
        ],
        "summary": "Send vendor quote for event request",
        "description": "Endpoint to create event quote.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Event Quote created successfully"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "eventRequestId": {
                    "type": "string",
                    "example": "60d5ecb8b5c9c123456789ab"
                  },
                  "offeredPrice": {
                    "type": "number",
                    "example": 4500
                  },
                  "message": {
                    "type": "string",
                    "example": "Complete decoration and stage setup included"
                  },
                  "deliverables": {
                    "type": "array",
                    "example": [
                      "Stage Decor",
                      "Floral Arch",
                      "Lighting"
                    ],
                    "items": {
                      "type": "string"
                    }
                  }
                },
                "required": [
                  "eventRequestId",
                  "offeredPrice"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/event-quote/my-bids": {
      "get": {
        "tags": [
          "EventQuote"
        ],
        "summary": "Get vendor submitted bids",
        "description": "Endpoint to fetch my bids event quote.",
        "responses": {
          "200": {
            "description": "Event Quote retrieved successfully"
          }
        }
      }
    },
    "/api/v1/event-quote/my-bids/{id}": {
      "get": {
        "tags": [
          "EventQuote"
        ],
        "summary": "Get single bid details",
        "description": "Endpoint to fetch my bids event quote by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event Quote retrieved successfully"
          }
        }
      }
    },
    "/api/v1/event-quote/my-bids/{id}/outcome": {
      "patch": {
        "tags": [
          "EventQuote"
        ],
        "summary": "Mark quote outcome (Won/Lost)",
        "description": "Endpoint to update my bids outcome event quote by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event Quote updated successfully"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "outcome": {
                    "type": "string",
                    "example": "won"
                  }
                },
                "required": [
                  "outcome"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/event-quote/received": {
      "get": {
        "tags": [
          "EventQuote"
        ],
        "summary": "Get quotes received for my event requests",
        "description": "Endpoint to fetch received event quote.",
        "responses": {
          "200": {
            "description": "Event Quote retrieved successfully"
          }
        }
      }
    },
    "/api/v1/event-quote/received/{id}": {
      "get": {
        "tags": [
          "EventQuote"
        ],
        "summary": "Get received quote details",
        "description": "Endpoint to fetch received event quote by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event Quote retrieved successfully"
          }
        }
      }
    },
    "/api/v1/event-quote/{id}/status": {
      "patch": {
        "tags": [
          "EventQuote"
        ],
        "summary": "Accept or decline received quote",
        "description": "Endpoint to update status event quote by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event Quote updated successfully"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "example": "accepted"
                  }
                },
                "required": [
                  "status"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/event-quote/{id}/decline": {
      "patch": {
        "tags": [
          "EventQuote"
        ],
        "summary": "Decline vendor quote",
        "description": "Endpoint to update decline event quote by ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Event Quote updated successfully"
          }
        }
      }
    },
    "/api/v1/event-quote/counter": {
      "post": {
        "tags": [
          "EventQuote"
        ],
        "summary": "Send counter offer on quote",
        "description": "Endpoint to create counter event quote.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Event Quote created successfully"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "quoteId": {
                    "type": "string",
                    "example": "60d5ecb8b5c9c123456789ab"
                  },
                  "counterPrice": {
                    "type": "number",
                    "example": 4200
                  },
                  "note": {
                    "type": "string",
                    "example": "Can we agree on $4200 including transportation?"
                  }
                },
                "required": [
                  "quoteId",
                  "counterPrice"
                ]
              }
            }
          }
        }
      }
    },
    "/api/v1/vendor-quote/": {
      "post": {
        "tags": [
          "VendorQuote"
        ],
        "summary": "Request quote directly from vendor",
        "description": "Endpoint to create vendor quote.",
        "parameters": [],
        "responses": {
          "201": {
            "description": "Vendor Quote created successfully"
          }
        },
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "vendorId": {
                    "type": "string",
                    "example": "60d5ecb8b5c9c123456789ab"
                  },
                  "serviceId": {
                    "type": "string",
                    "example": "60d5ecb8b5c9c123456789ac"
                  },
                  "eventDate": {
                    "type": "string",
                    "example": "2026-11-15"
                  },
                  "budget": {
                    "type": "number",
                    "example": 3500
                  },
                  "message": {
                    "type": "string",
                    "example": "Requesting quote for corporate anniversary event"
                  }
                },
                "required": [
                  "vendorId",
                  "serviceId",
[...]
